page-media {
.background{
    -webkit-animation: color-change-5x 8s linear infinite alternate both;
    animation: color-change-5x 8s linear infinite alternate both;
}
@-webkit-keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  @keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }


.move {
    opacity: 1;
    margin-top:-0px; 
    border-radius: 10%;
    
    
}

.gal{
  padding: inherit;
}

.h{
  
  font-family: monospace;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  font-size: 20px;
  margin-top: 20%;
  -webkit-animation: text-focus-in 5s steps(3, start) infinite both;
  animation: text-focus-in 5s steps(3, start) infinite both;}
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

.TitleMe2{
  font-size: 80px;
  margin-left: 20;
  margin-top:5px;
  font-family: itim;
  color: rgb(226, 200, 150)
  
}

.mun{
  font-size: 20px;
  margin-left: 20;
  margin-top:15%;
  font-family: itim;
  color: rgb(250, 185, 65);
  
}


.TitleMe{
  font-size: 65px;
  margin-right: -50%;
  font-family: itim;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}





.TopText {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;        margin-bottom: -50px;
  margin-left: 10px;
  font-size: 30px;
  font-family: itim;
  // text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  color:wheat;
  
  }
  @-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
        }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
          }
  }
        @keyframes text-focus-in {
          0% {
            -webkit-filter: blur(12px);
                    filter: blur(12px);
            opacity: 0;
          }
          100% {
            -webkit-filter: blur(0px);
                    filter: blur(0px);
            opacity: 1;
          }
        }
      }        
.TopText span{
  color: #19dcea
}
.segment.segment{
  margin-bottom: 0px;
}